{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block home %} <!-- this is the name of the block below -->
        <div class="row" style="height:100vh;background: url(../static/img/nybackground.jpg) no-repeat;background-size: 100%;opacity: 0.7;filter: alpha(opacity=10);top:0;left:0;right:0;position:absolute">
                <div class="col-md-4 col-md-offset-4" style="margin-top:60vh;margin-left:110vh">
                      <div id="container" align="right">
                      <div class="panel panel-default panel-transparent" style="opacity: 0.75;width: 500px">
  						<div class="panel-body" style = "text-align:center">
                            <label style=" color: #000066; font-weight:bold; font-size:50px;">The 411 on the 311</label>
			    <img src= "../static/img/311_logo.jpg" aligh = "texttop" width="128" height="128">
                            <label style="color: #000066; font-weight:bold; font-size:36px;">A look into NYC 311 calls&nbsp;&nbsp;</label>
                          </div>
                         </div>
                      </div>
                </div>
        </div>

{% endblock %}
